h3 {
    margin: 40px 0 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline-block;
    margin: 0 10px;
}
a {
    color: #42b983;
}
#logoImage {
    position: relative;
    width: 500px;
    height: 500px;
   // border: 1px solid red;
    background: url('/../../assets/img/logo.png') no-repeat;
    box-sizing: border-box;
}
